
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header*/
header {
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo .logoH {
    width: 85px;
    height: 85px;
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.site-title {
    font-size: 33px;
    font-weight: bold;
}
.search-and-map {
    display: flex;
    align-items: center;
}
.search-and-map img {
    width: 30%;
    height: 40px;
    margin-right: 10px;
}
.site-map {
    text-decoration: underline;
    font-size: 20px;
    color: black;
    padding-right: 10px;
}

.search{
    padding-right: 50px;
}

.mapa{
    padding-right: 35px;
}



@import 'https://fonts.googleapis.com/css?family=Lato:400,300';
nav {
    max-width: 100%;
    background-color: #000000;
    font-size: 1.6rem !important;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 10001;
}
  .menu-horizontal {
    list-style: none;
    display: flex;
    justify-content:center;
    border-bottom: #d10d0d solid 9px;
  }
  
  .menu-horizontal > li {
    position: relative;
    margin-left: 40px;
  }
  
  .menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }

  .menu-horizontal li a::after{
    display:block;
    content: '';
    border-bottom: solid 3px #dd3444;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;}    
  
  .menu-horizontal li a:hover:after{color: #6FDA44; z-index: 2;
    transform: scaleX(1);
  } 
  
  
  
  .menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 310px;
    background-color: rgba(0, 0, 0, .5);
    top: 100%;
    left: 0;
  }
  
  .menu-horizontal li:hover .menu-vertical {
    display: block;
  }
  
  .menu-vertical li:hover {
    background-color: black;
  }
  
  .menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
    border-bottom: white solid 1px;
  }
  
  .menu-sub-vertical {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    width: 300px;
    text-decoration: none;
    list-style: none;
  }
  
  .menu-vertical li:hover .menu-sub-vertical {
    display: block;
  }

  /*Slides*/

  /* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: none;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Noticias*/

.title .icon-new{
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 15px;

}

.title .tittle-icon{
  float: left;
  margin-left: 10px;
  font-size: 38.2px;
  margin-top: 3px;
}
.title{
  vertical-align: auto
}
 



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.blog-section{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     width: 100%;
    
    }

.blog-section .section-content{
    width: 80%;
    margin: 20px auto;
}

.blog-section .section-content .title h2{
    font-size: 40px;
    color: #dd3444;
    text-transform: uppercase;
    line-height: 1.5em;
}

.blog-section .section-content .title p{
    font-size: 18px;
    color: #6a6a6a;
    margin-top: 20px;
}

.blog-section .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}


.blog-section .section-content .cards .card{
    width: 95%;
    background-color: #f7f7f7;
    position: relative;
}

.blog-section .section-content .cards .card:hover{
    transform: scale(1.05);
}

.blog-section .section-content .cards .card{
    transition: 1s;
}

.blog-section .section-content .cards .card img{
    width: 100%;
    height: auto;
    
}

.blog-section .section-content .cards .card .article{
    padding: 15px 30px;
}

.blog-section .section-content .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
}

.blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
}

.blog-section .section-content .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: #11244c;
    padding: 8px 15px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.blog-section .section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #11244c;
    padding: 6px 15px;
    color: #fff;
}

@media screen and (max-width: 992px){
    .blog-section .section-content .cards{
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media screen and (max-width: 768px){
    .blog-section .section-content .cards{
        grid-template-columns: repeat(1,1fr);
        
    }
}

/*Divisor de imagen*/

.img-sep{
  margin-left: 10%;
}

.img-sep img{
  width: 1100px;
  height: 283px;
  margin-top: 5%;
}

.linell{
  width: 100px;
  height: 5px;
  border-radius: 3px;
  background-color: red;
  margin-top: 10px;
  margin-bottom: 5px;
  margin: 0 auto;
}

/*Footer*/

